@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --dark:#1A3636;
    --medium-dark:#40534C;
    --greenish:#677D6A;
    --white:#D6BD98;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
    background: transparent; /* Optional: hides the scrollbar track */
  }
  
  /* Hide scrollbar for Firefox */
* {
    scrollbar-width: none; /* Hides the scrollbar */
  }
  
  /* Hide scrollbar for Internet Explorer and Edge */
  *{
    -ms-overflow-style: none; /* Hides the scrollbar */
  }
  
.App{
    background-color: var(--dark);
    color: var(--white);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}